* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-content {
  display: flex;
  justify-content: space-around;
  border: 1px solid darkgray;
  padding-right: 2px;
  padding-left: 20px;
  margin: 110px 30px 30px 30px;
  border-radius: 6px;
  background-image: linear-gradient(darkgray, grey, darkgray);
}

ul li {
  list-style: none;
}

.nav-content li {
  border-right: 2px solid rgba(0, 0, 0, 0.116);
  padding-right: 45px ;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-content a {
  text-decoration: none;
  color: white;
}

.apple-logo {
  width: 20px;
  height: auto;
  color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.61);
}

#search {
  border: 1px solid rgba(36, 29, 29, 0.493);
  background: linear-gradient(darkgray, grey, darkgray);
  border-radius: 20px;
  height: 30px;
  width: 130px;
  outline: none;
  margin: 5px 0;
}

#search:focus {
  width: 200px;
  padding: 10px 20px;
  background: white;
}

.iphone-img {
  width: 24.7%;
  height: 200px;
}

.iphone-imgs {
  margin-top: 350px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  margin: 30px;
}

.footer-right {
  display: flex;
  justify-content: space-around;
}

.footer-right li {
  border-right: 1px solid rgba(0, 0, 0, 0.295);
  padding-right: 4px;
}

.footer-left {
  display: flex;
  justify-content: space-around;
}

.footer a {
  text-decoration: none;
  color: cornflowerblue;
}

.lower-footer {
  display: flex;
  margin-top: 20px;
}

.lower-footer p {
  margin-right: 10px;
}

.lower-footer p:nth-child(3) {
  border-left: 1px solid rgba(0, 0, 0, 0.295);
  padding-left: 10px;
}
